.App {
  text-align: center;
  padding: 20px;
}

.Board {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
}

.Tile {
  width: 8px;
  padding: 20px;
  border: 1px solid gray
}

.empty {
  background-color: darksalmon;
}